.navbar{
    height: 10vh;
    display: flex;

}
.titulo{
    width: 30%;
    display: flex;
    justify-content: center;
}
.iconos{
    width: 45%;
    display: flex;
    justify-content:space-around;
    align-items: center;
}
.iconos:hover{
    cursor: pointer;
}
.busqueda{
    width: 25%;
    display: flex;
    justify-content: center;
    align-items: center;
}

