.contenedor{
    display: flex;
    justify-content: space-around;
    margin-top: 5vh;
    margin-bottom: 5vh;
}

.card{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 45vh;
    background-color: #D6EEF6;
    font-weight: bold;
}